*{
    margin: 0;
    padding: 0;
}
.row{
    padding-left: 0 ;
    padding-right: 0 ;
}
.row-txt{
    display: flex;
    width: 600px;
    height: 600px;
}
.link-curso {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 16px;
    background-color: #007bff; /* Cor do fundo */
    color: white;              /* Cor do texto */
    text-decoration: none;      /* Remove o sublinhado */
    border-radius: 4px;         /* Arredondar os cantos */
    transition: background-color 0.3s ease; /* Animação suave */
}
.mdf{
width: 400px;
}
